div.main-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}

div.messaging-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.messaging-container div:nth-child(1) {
  height: 90%;
}
div.messaging-container div:nth-child(2) {
  height: 20%;
}




div.messageForm > form.ui.form > div.field > textarea.message-input {
  height: 100%;
  resize: none;
}

div.messageForm > form.ui.form {
  height: 100%;
}
div.messageForm > form.ui.form > div.field {
  height: 100%;
}

div.sidebar {
  background-color: cornflowerblue;
}

div#main-content {
  background-color: #d9e7ff;
}