div.main-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}

div.messaging-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.messaging-container div:nth-child(1) {
  height: 90%;
}
div.messaging-container div:nth-child(2) {
  height: 20%;
}

div.main-container > div {
  border: 1px black solid;
}


form.ui.form > div.field > textarea.message-input {
  height: 100%;
  resize: none;
}

form.ui.form {
  height: 100%;
}
form.ui.form > div.field {
  height: 100%;
}

div.sidebar {
  background-color: cornflowerblue;
}
