div.chatroom-list > div {
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: #a9c4f5;
    cursor: pointer;
}
div.chatroom-list > div:hover {
    background-color: #7ba5f0;
}
div.chatroom-list > div.active {
    background-color: #d9e7ff;
}



div.add-chat, div.explore, div.add-dm {
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: #a9c4f5;
    cursor: pointer;
}

div.add-chat:hover, div.explore:hover, div.add-dm:hover {
    background-color: #7ba5f0;
}
div.add-chat.active, div.explore.active, div.add-dm.active {
    background-color: #d9e7ff;
}